body{
    margin: 0px;
}
button{
    width: 200px;
}
#generate{
    margin-bottom: 30px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
}
#grid{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}
#title{
width: 100%;
background-color: lightcoral;
margin: 0px;
text-align: center;
text-shadow: 2px;
font-size: 60px;
}
.cell{
    border: 1px solid black;
    width: 16px;
    height: 16px;
}